torch==1.13.1
accelerate
pynvml
tqdm
onnx
tensorflow==2.11.0
fiftyone
pycocotools
torchinfo
addict
git+https://github.com/lessw2020/Ranger21.git
git+https://github.com/onnx/onnx-tensorflow.git
opencv-python
tflite
scipy
yolov5
einops
pytorchcv

onnx-graphsurgeon
onnxruntime
onnxsim
simple_onnx_processing_tools
onnx2tf
